<tr class="propertyListRow">
<!-- 
/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2015 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
-->
    <td class="indent" data-dojo-attach-point="txtPropertyTypeName"></td>
	<td>
		<input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="txtValue"
        data-dojo-attach-event="onBlur: _onPropValueBlur"
		data-dojo-props="placeHolder: ''" style="min-width: 300px; padding-left: 3px; background-color:white">
	</td>
</tr>
